
.Rproj.user
.Rhistory
.RData
.Ruserdata
posterior_diagnostics_mns.html
posterior_diagnostics_validation_repeated.html
posterior_diagnostics_validation.html
validation_statistics_repeated.html
validation_statistics.html
pred_alts-temp.csv
fit_mns.rds
fit_repeatedval.rds
fit_val.rds
length_samples_mns.rds
nim_pkg_mns.rds
nim_pkg_repeatedval.rds
nim_pkg_val.rds
repeatedval_length_samples.rds
val_length_samples.rds
collated_allMC.rds
collated_MC_summarystats.csv
whales_merged.csv
Fig1B_ridgeplot_widths.jpg
Fig1B_ridgeplot_widths.tiff
Fig2_body_shapes.jpg
Fig2_body_shapes.tiff
Fig3_posteriors.jpg
Fig3_posteriors.tiff
Fig4_BC_estimates.jpg
Fig4_BC_estimates.tiff
Fig5_scaling_of_uncertainty.jpg
Fig5_scaling_of_uncertainty.tiff
Fig6_CVs.jpg
Fig6_CVs.tiff
Fig7A_correlation_matrix.pdf
Fig7B_correlations.jpg
