
.Rproj.user
.Rhistory
.RData
.Ruserdata
posterior_diagnostics_mns.html
posterior_diagnostics_validation_repeated.html
posterior_diagnostics_validation.html
validation_statistics_repeated.html
validation_statistics.html
pred_alts-temp.csv
fit_mns.rds
fit_repeatedval.rds
fit_val.rds
length_samples_mns.rds
nim_pkg_mns.rds
nim_pkg_repeatedval.rds
nim_pkg_val.rds
repeatedval_length_samples.rds
val_length_samples.rds
collated_allMC.rds
collated_MC_summarystats.csv
whales_merged.csv
